<launch>

  <remap from="/imu/data" to="/imu" />

  <!-- Note: change this when backup removed-->
  <rosparam command="load" file="$(find car)/params/backup_fusion.yaml" />

  <node pkg="robot_localization" type="ukf_localization_node" name="ukf_se_odom" clear_params="true"/>

  <node pkg="robot_localization" type="ukf_localization_node" name="ukf_se_map" clear_params="true">
    <!--<remap from="odometry/filtered" to="odometry/filtered_map"/>-->
  </node>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true">
    <!--<remap from="odometry/filtered" to="odometry/filtered_map"/>-->
  </node>

</launch>
