<launch>

  <!-- Default coordinate system of VN-100 is NED, so we need to subscribe to a topic which is an ENU conversion, which is what EKF wants-->
  <remap from="/imu/data" to="/imu_enu" />

  <rosparam command="load" file="$(find car)/params/fusion.yaml" />

  <node pkg="robot_localization" type="ukf_localization_node" name="ukf_se_map" clear_params="true"/>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true" />

</launch>
