<launch>
    <node pkg="tf" type="static_transform_publisher" name="swri_transform" args="0 0 0 0 0 0 /map /base_link 100"  />

    <node pkg="swri_transform_util" type="initialize_origin.py" name="initialize_origin" >
        <param name="local_xy_frame" value="/map"/>
        <param name="local_xy_origin" value="Clayton"/>
        <rosparam param="local_xy_origins">
            [{ name: Clayton,
            latitude: -37.910386,
            longitude: 145.132547,
            altitude: 129.69,
            heading: 0.0}]
        </rosparam>
    </node>

    <node pkg="mapviz" type="mapviz" name="mapviz"/>
</launch>